@model DAL.ViewModels.IdentityViewModels.LoginVM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_IdentityLayOut.cshtml";
}

<!-- BEGIN LOGIN FORM -->
<form class="" asp-action="Login" asp-controller="Account" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <h3 class="form-title">Login to your account</h3>
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <span> Enter any username and password. </span>
    </div>
    <div class="form-group">
      
        <label asp-for="UserName" class="control-label visible-ie8 visible-ie9"></label>
        <div class="input-icon">
            <i class="fa fa-user"></i>
            <input asp-for="UserName" class="form-control placeholder-no-fix" autocomplete="off" placeholder="Username" />
            <span asp-validation-for="UserName" class="help-block text-danger"></span>

        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label visible-ie8 visible-ie9"></label>
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input class="form-control placeholder-no-fix" asp-for="Password" autocomplete="off" placeholder="Password"/>
            <span asp-validation-for="Password" class="help-block text-danger"></span>

        </div>
    </div>
    <div class="form-actions">
        <label asp-for="RememberMe" class="checkbox">
            <input  asp-for="RememberMe"  /> @Html.DisplayNameFor(x=>x.RememberMe)
        </label>
        <button type="submit" class="btn green pull-right"> Login </button>
    </div>
    <div class="login-options">
        <h4>Or login with</h4>
        <ul class="social-icons">
            <li>
                <a class="facebook" data-original-title="facebook" href="javascript:;"> </a>
            </li>
            <li>
                <a class="twitter" data-original-title="Twitter" href="javascript:;"> </a>
            </li>
            <li>
                <a class="googleplus" data-original-title="Goole Plus" href="javascript:;"> </a>
            </li>
            <li>
                <a class="linkedin" data-original-title="Linkedin" href="javascript:;"> </a>
            </li>
        </ul>
    </div>
    <div class="forget-password">
        <h4>Forgot your password ?</h4>
        <p>
            no worries, click
            <a href="javascript:;" id="forget-password"> here </a> to reset your password.
        </p>
    </div>
    
</form>
<!-- END LOGIN FORM -->
<!-- BEGIN FORGOT PASSWORD FORM -->
@*<form class="forget-form" action="index.html" method="post">
    <h3>Forget Password ?</h3>
    <p> Enter your e-mail address below to reset your password. </p>
    <div class="form-group">
        <div class="input-icon">
            <i class="fa fa-envelope"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
        </div>
    </div>
    <div class="form-actions">
        <button type="button" id="back-btn" class="btn grey-salsa btn-outline"> Back </button>
        <button type="submit" class="btn green pull-right"> Submit </button>
    </div>
</form>*@
<!-- END FORGOT PASSWORD FORM -->
